.auth-layout {
  width: 100%;
  height: 100vh;
  position: relative;

  &__inner {
    min-width: 440px;
    height: 680px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
}

.input-wrapper {
  margin-bottom: 20px;

  label {
    display: flex;
    flex-direction: column;

    .label-text {
      margin-bottom: 4px;
      font-size: 15px;
    }

    .input-box {
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid #dfdfdf;
      overflow: hidden;
      border-radius: 4px;

      input {
        width: 100%;
        padding: 12px;
        border: none;
        font-size: 16px;
        background-color: transparent;
      }

      input:focus {
        outline: none;
        background-color: transparent;
      }

      input::placeholder {
        color: gray;
      }

      .validate-icon {
        font-size: 24px;
        transform: translateY(3px);
        padding: 0 5px;
        background-color: transparent;
      }

      .invalid {
        color: #d94241;
      }

      .valid {
        color: #3daaff;
      }
    }
  }
}

.error-message {
  color: #d94241;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
}
.submit-button {
  padding: 12px 20px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  background-color: #f82f64;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.submit-button:disabled {
  opacity: 0.6;
  cursor: text;
}

.opposite-link {
  font-size: 14px;
  margin-top: 20px;
  color: gray;
  text-decoration: underline;
}

.opposite-link::before {
  content: '👉🏻 ';
}
